{% extends "layout.html" %}
{% block body %}
<h1>Zones</h1>
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.name }}</h2>{{ entry.description|safe }}
  {% else %}
    <li><em>No zones defined</em>
  {% endfor %}
  </ul>

  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Description:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}

{% endblock %}
